doctype html
html(lang="en")
  head
    title= pageTitle
    block styles
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    div.main_container
      section.cover_section
      section.wellcome_section
        div
          div.text
            img(src='/assets/frog.gif')
            h1 .HELLO
          button.button
            a(href='/tasks') tasks --> 
