doctype html
html(lang="en")
  head
    title= pageTitle
    block styles
    link(rel="stylesheet" type="text/css" href="/style.css")
  body
    div.container
      section.funny_section
        img(src="/assets/croc.gif", alt="")
      section.tasks_section
        div.tasks
          div.task
            h1=task.title
            p=task.instruction
            div.settings
              - url=task.id 
              a(href='/tasks/done/' + url)
                img(src="/assets/icons/check.png", alt="")  
              a(href='/tasks/edit/' + url)
                img(src="/assets/icons/edit.png", alt="")  
              a(href='/tasks/delete/' + url)
                img(src="/assets/icons/cancel.png", alt="") 
        