@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
  text-decoration: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main_container {
  width: 100%;
  height: 100%;
  display: flex;
}

section {
  width: 50%;
  height: 100%;
  background-color: black;
}

.cover_section {
  background-image: url(./assets/back.gif);
  background-size: 150%;
  background-position: 0% 20%;
}

.wellcome_section {
  padding: 30px;
  background-color: black;
  display: flex;
  align-items: flex-end;
}

.wellcome_section div {
  width: 100%;
  height: 50%;
}

.wellcome_section div .text {
  display: flex;
  align-items: baseline;
}

.wellcome_section div .text img {
  width: 70px;
  height: 70px;
}

.wellcome_section div .text h1 {
  color: silver;
  font-size: 80px;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(10, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: lime;
  }
}

.button,
input {
  font-size: 22px;
  color: silver;
  background: transparent;
  border: 3px solid white;
  padding: 5px 20px;
}

.button a {
  color: silver;
  font-size: 22px;
}

.button a:hover{
  color: #12ff02;;
}

.button:hover {
  border-color: #c200bc;
  color: #c200bc;
}

input:focus {
  border-color: #c200bc;
  color: #c200bc;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
}

.container section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create_section h1{
  color: orange;
}

.container section form {
  width: 100%;
  height: 50%;
}

.container section form input {
  margin: 30px;
}

.container section form input:focus {
  border-color: orange;
  color: #12ff02;
}

.container section form input:hover {
  border-color: orange;
  color: #12ff02;
}

.container section form img {
  width: 80px;
  height: 80px;
}

.container section .tasks {
  width: 80%;
  height: 80%;
  overflow-y: auto;
  background-color: orange;
  padding: 10px;
}

.container section .tasks::-webkit-scrollbar {
  display: none;
}

.container section .tasks .task {
  width: 90%;
  padding: 10px;
  border: 3px solid black;
  margin: 20px auto;
}

.container section .tasks form {
  width: 100%;
  height: 10%;
}

.container section .tasks form input{
  border-color: black;
  color: #e03c3c
}

.container section .tasks .task .text {
  width: 80%;
  height: auto;
}

.container section .tasks .task .settings {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container section .tasks .task .settings img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.done {
  text-decoration: line-through;
}

.container .funny_section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.funny_section img{
  height: 80%;
}

.tasks_container .funny_section img {
  width: 100%;
}

.time{
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 30px;
}

.expire{
  background-color: #f16d6d;
  border-color: #8a3a3a !important;
}
.rangeNumberDiv{
  border: 5px solid white;
  padding: 10px;
  width: 60px;
  height: 60px;
}

.rangeNumberDiv p{
  font-size: x-large;
}
.task_container form{
  font-family: "Fira Code", monospace;
  color: orange;
}

.range{
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 25px;
  background: black;
  outline: none;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: orange;
  cursor: pointer;
}

.priority{
  background: #05e60f;
  display: inline;
}

.deadline{
  background: #e03c3c
}

